<h1>Seu Carrinho</h1>

{{#if carrinho.length}}
  <ul>
    {{#each carrinho}}
      <li>
        {{nome}} - {{quantidade}} x R$ {{preco}} = R$ {{multiply preco quantidade}}
        <form action="/carrinho/remover/{{idProduto}}" method="POST" style="display:inline;">
          <button type="submit">Remover</button>
        </form>
      </li>
    {{/each}}
  </ul>

<p><strong>Subtotal:</strong> R$ {{subtotal}}</p>
<p><strong>Frete:</strong> {{#if frete}}R$ {{frete}}{{else}}Grátis!{{/if}}</p>
<p><strong>Total:</strong> R$ {{total}}</p>


<form action="/carrinho/checkout" method="POST">
  <button type="submit">Finalizar Compra</button>
</form>

{{else}}
  <p>Seu carrinho está vazio.</p>
{{/if}}
